* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("assets/Google_Sans_Code/GoogleSansCode-VariableFont_MONO\,wght.ttf") format('truetype');
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}
    
.container {
    width: 600px;
    height: 600px;
    padding: 25px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top {
    display: flex;
    gap: 25px;
    height: 190px;
}

.left-panel {
    width: 190px;
}

.left-panel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-panel {
    width: 335px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    padding: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bottom-panel {
    flex: 1;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

table {
    font-family: "Google Sans Code", sans-serif;
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td, th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #E3E3E3;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}