* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("/assets/GoogleSansCode-VariableFont_MONO,wght.ttf")
    format("truetype");
}

*,
input,
select,
textarea,
button {
  font-family: "Google Sans Code", sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.login-title,
.signup-title {
  text-align: center;
}

.toast {
  text-align: center;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #617c4b;
  padding: 12px;
}

.error {
  color: #b74848;
}

.error::placeholder {
  color: #b74848;
}

button {
  background-color: transparent;
  border: 0;
  padding: 10px;
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

button:hover {
  color: #617c4b;
}

button:focus-visible {
  outline: 2px solid #617c4b;
}

input {
  border: 0;
  padding: 10px;
  box-shadow: 0px 0px 6px 2px #00000025;
}

input:focus {
  outline: none !important;
}

.main {
  width: 600px;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.top {
  display: flex;
  gap: 25px;
  height: 190px;
}

.left-panel {
  width: 190px;
}

.left-panel img {
  width: 100%;
  height: 100%;
}

.right-panel {
  width: 335px;
  box-shadow: 0px 0px 6px 2px #00000025;
  padding: 12px;

  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

td,
th {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}

.bottom-panel {
  flex: 1;
  box-shadow: 0px 0px 6px 2px #00000025;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.timepiece {
  display: flex;
  width: 160px;
  box-shadow: 0px 0px 6px 2px #00000025;
}

.timepiece button {
  flex: 1;
  color: #000000;
  font-size: 0.6em;
}

.timepiece button.active {
  background-color: #617c4b;
  color: white;
}

.clock {
  text-align: center;
  margin: auto 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clock label,
.timer-input {
  font-size: 2.5em;
}

.timer-input {
  box-shadow: none;
  text-align: center;
}

.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.exp-notif {
  font-size: 0.6em;
  margin-bottom: 6px;
  color: #617c4b;
}

.exp-bar {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: #e3e3e3;
}

.exp-filled {
  width: 15%;
  height: 100%;
  border-radius: 10px;
  background: #617c4b;
}

.exp-ratio {
  font-size: 0.6em;
  margin-top: 10px;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 1px;
  height: 25px;
  background-color: #a1a1a1;
}

.profile-picture {
  cursor: pointer;
  object-fit: cover;
  border-radius: 95px;
}

.dropdown-content {
  background-color: white;
  box-shadow: 0px 0px 6px 2px #00000025;
  font-size: 0.8em;
  margin-top: 10px;
  padding: 5px;
  z-index: 9999;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item[data-highlighted] {
  background: #e3e3e3;
  outline: none;
}

.dropdown-item--danger {
  color: #b74848;
}

.avatar-file-input {
  display: none;
}

.label-profile {
  color: #617c4b;
}

.companions-container {
  width: 480px;
  height: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 40px;
  padding: 25px 0px 10px 0px;

  overflow-y: auto;
}

.companion-card {
  width: 120px;
  height: 180px;
  box-shadow: 0px 0px 6px 2px #00000025;
  font-size: 0.6em;
  text-align: center;
  line-height: 1.5;

  overflow-x: auto;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
